1.1 Importe as bibliotecas necessárias

In [ ]:
# importar bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
url = "https://raw.githubusercontent.com/netopatriota/Data_Mining/main/K-Nearest%20Neighbors/diabetes.csv"

1.2 Faça a leitura do dataset indicado e o carregue em um dataframe

In [ ]:
df = pd.read_csv(url)

In [ ]:
df

,quantidade_gravidez,glicose,pressao,triceps,insulina,imc,diabetes_pedigree,idade,resultado
0,6,148,72,35,0,33.6,0.627,50,testado_positivo
1,1,85,66,29,0,26.6,0.351,31,testado_negativo
2,8,183,64,0,0,23.3,0.672,32,testado_positivo
3,1,89,66,23,94,28.1,0.167,21,testado_negativo
4,0,137,40,35,168,43.1,2.288,33,testado_positivo
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,testado_negativo
764,2,122,70,27,0,36.8,0.340,27,testado_negativo
765,5,121,72,23,112,26.2,0.245,30,testado_negativo
766,1,126,60,0,0,30.1,0.349,47,testado_positivo
767,1,93,70,31,0,30.4,0.315,23,testado_negativo

1.3 Visualize as 10 primeiras linhas do dataset.

In [ ]:
df.head(10)

,quantidade_gravidez,glicose,pressao,triceps,insulina,imc,diabetes_pedigree,idade,resultado
0,6,148,72,35,0,33.6,0.627,50,testado_positivo
1,1,85,66,29,0,26.6,0.351,31,testado_negativo
2,8,183,64,0,0,23.3,0.672,32,testado_positivo
3,1,89,66,23,94,28.1,0.167,21,testado_negativo
4,0,137,40,35,168,43.1,2.288,33,testado_positivo
5,5,116,74,0,0,25.6,0.201,30,testado_negativo
6,3,78,50,32,88,31.0,0.248,26,testado_positivo
7,10,115,0,0,0,35.3,0.134,29,testado_negativo
8,2,197,70,45,543,30.5,0.158,53,testado_positivo
9,8,125,96,0,0,0.0,0.232,54,testado_positivo

1.4 Visualize as 5 últimas linhas do dataset.

In [ ]:
df.tail(5)

,quantidade_gravidez,glicose,pressao,triceps,insulina,imc,diabetes_pedigree,idade,resultado
763,10,101,76,48,180,32.9,0.171,63,testado_negativo
764,2,122,70,27,0,36.8,0.340,27,testado_negativo
765,5,121,72,23,112,26.2,0.245,30,testado_negativo
766,1,126,60,0,0,30.1,0.349,47,testado_positivo
767,1,93,70,31,0,30.4,0.315,23,testado_negativo

1.5 Quantas linhas e colunas no dataset? Mostre.

In [ ]:
print('O dataset possui: {} linhas e {} colunas'.format(df.shape[0], df.shape[1]))

O dataset possui: 768 linhas e 9 colunas

1.6 Quais os tipos de colunas. Mostre-os.

In [ ]:
tipos = pd.DataFrame(df.dtypes, columns = ['Tipos'])
tipos.columns.name = 'Variáveis'
tipos

Variáveis              Tipos
quantidade_gravidez    int64
glicose                int64
pressao                int64
triceps                int64
insulina               int64
imc                  float64
diabetes_pedigree    float64
idade                  int64
resultado             object

1.7 Alguma coluna possui valor nulo? Mostre.

In [ ]:
df.isnull().sum()
# Nenhuma coluna possui valor nulo

quantidade_gravidez    0
glicose                0
pressao                0
triceps                0
insulina               0
imc                    0
diabetes_pedigree      0
idade                  0
resultado              0
dtype: int64

1.8 Qual o percentual de valores nulos por coluna?

In [ ]:
df.isna().sum()/len(df)*100 
# Não possui valores nulos!
# Podemos afirmar que o termo "valor nulo" é usado quando o valor em uma coluna é desconhecido ou está ausente. 
# Ou seja, um valor nulo não é uma cadeia de caracteres vazia (para tipos de dados character ou datetime) nem um valor zero (para tipos de dados numéricos).

quantidade_gravidez    0.0
glicose                0.0
pressao                0.0
triceps                0.0
insulina               0.0
imc                    0.0
diabetes_pedigree      0.0
idade                  0.0
resultado              0.0
dtype: float64

1.9 Use o seguinte comando: print(data.describe()). O que ele mostra?

In [ ]:
print(df.describe())

       quantidade_gravidez     glicose     pressao     triceps    insulina  \
count           768.000000  768.000000  768.000000  768.000000  768.000000
mean              3.845052  120.894531   69.105469   20.536458   79.799479
std               3.369578   31.972618   19.355807   15.952218  115.244002
min               0.000000    0.000000    0.000000    0.000000    0.000000
25%               1.000000   99.000000   62.000000    0.000000    0.000000
50%               3.000000  117.000000   72.000000   23.000000   30.500000
75%               6.000000  140.250000   80.000000   32.000000  127.250000
max              17.000000  199.000000  122.000000   99.000000  846.000000

              imc  diabetes_pedigree       idade
count  768.000000         768.000000  768.000000
mean    31.992578           0.471876   33.240885
std      7.884160           0.331329   11.760232
min      0.000000           0.078000   21.000000
25%     27.300000           0.243750   24.000000
50%     32.000000           0.372500   29.000000
75%     36.600000           0.626250   41.000000
max     67.100000           2.420000   81.000000

In [ ]:
# O Pandas describe() é usado para visualizar alguns detalhes estatísticos básicos como percentil, média, padrão, etc. de um detaframe ou uma série de valores numéricos.

In [ ]:
df = df.replace("testado_negativo", "0")
df = df.replace("testado_positivo", "1")

print(df)

     quantidade_gravidez  glicose  pressao  triceps  insulina   imc  \
0                      6      148       72       35         0  33.6
1                      1       85       66       29         0  26.6
2                      8      183       64        0         0  23.3
3                      1       89       66       23        94  28.1
4                      0      137       40       35       168  43.1
..                   ...      ...      ...      ...       ...   ...
763                   10      101       76       48       180  32.9
764                    2      122       70       27         0  36.8
765                    5      121       72       23       112  26.2
766                    1      126       60        0         0  30.1
767                    1       93       70       31         0  30.4

     diabetes_pedigree  idade resultado
0                0.627     50         1
1                0.351     31         0
2                0.672     32         1
3                0.167     21         0
4                2.288     33         1
..                 ...    ...       ...
763              0.171     63         0
764              0.340     27         0
765              0.245     30         0
766              0.349     47         1
767              0.315     23         0

[768 rows x 9 columns]

In [ ]:
df['resultado'] = df['resultado'].astype(int) # tratando a coluna para int
df.dtypes

quantidade_gravidez      int64
glicose                  int64
pressao                  int64
triceps                  int64
insulina                 int64
imc                    float64
diabetes_pedigree      float64
idade                    int64
resultado                int64
dtype: object

In [ ]:
# excluir as colunas que não serão utilizadas no modelo
df = df.drop(['quantidade_gravidez','triceps','diabetes_pedigree'], axis=1)
df = df.sort_index()
df

     glicose  pressao  insulina   imc  idade  resultado
0        148       72         0  33.6     50          1
1         85       66         0  26.6     31          0
2        183       64         0  23.3     32          1
3         89       66        94  28.1     21          0
4        137       40       168  43.1     33          1
..       ...      ...       ...   ...    ...        ...
763      101       76       180  32.9     63          0
764      122       70         0  36.8     27          0
765      121       72       112  26.2     30          0
766      126       60         0  30.1     47          1
767       93       70         0  30.4     23          0

[768 rows x 6 columns]

In [ ]:
# slice. x[start:end:step]
X = df.loc[:, ["glicose", "pressao","insulina","imc","idade"]]
y = df['resultado'] # extrai a última coluna, que é o label

1.10 Divida o conjunto de dados em dados de treinamento (75%) e dados de teste (25%). Mostre o total de registros dos dados de treinamento e o total dos dados de teste.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=None, stratify=y) # 75% treino e 25% teste

In [ ]:
print("Quantidade de pacientes com diagnóstico conhecido:", X_train.shape[0])
print("Quantidade de pacientes para descobrirmos o diagnóstico:", X_test.shape[0])

Quantidade de pacientes com diagnóstico conhecido: 576
Quantidade de pacientes para descobrirmos o diagnóstico: 192

1.11 Crie um modelo de classificação usando o método KNN (KNeighborsClassifier,
K=3). Treine-o.

In [ ]:
k = 5

model = KNeighborsClassifier(n_neighbors=k, metric='euclidean', algorithm='brute')
model = model.fit(X_train, y_train)

1.12 Faça previsões com os dados de teste e obtenha a medida de desempenho
“acurácia”.

In [ ]:
result = model.predict(X_test)
acc = metrics.accuracy_score(result, y_test)
show = round(acc * 100)

1.13 Quanto deu a acurácia?

In [ ]:
print("{}%".format(show))

72%

1.14 Faça outros ciclos de treinamento variando o K (e.g., K = 5, K = 7, K = 9) e teste.
A acurácia foi melhorada? Houve diferença?

In [ ]:
k = 7

model = KNeighborsClassifier(n_neighbors=k, metric='euclidean', algorithm='brute')
model = model.fit(X_train, y_train)
result = model.predict(X_test)
acc = metrics.accuracy_score(result, y_test)
show = round(acc * 100)
print("{}%".format(show))

70%

In [ ]:
k = 9

model = KNeighborsClassifier(n_neighbors=k, metric='euclidean', algorithm='brute')
model = model.fit(X_train, y_train)
result = model.predict(X_test)
acc = metrics.accuracy_score(result, y_test)
show = round(acc * 100)
print("{}%".format(show))

70%